@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&family=Baloo+Bhai+2:wght@400..800&family=Edu+NSW+ACT+Cursive:wght@400..700&family=Headland+One&family=Outfit:wght@100..900&family=Playwrite+PL:wght@100..400&family=Prata&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
  font-family: outfit;
}
@import "tailwindcss"; 
.active{
  background-color: aliceblue;
  border-color: darkcyan;
}  
select,input,textarea{
  border: 1px solid #cbd5e1;
  outline-color: #C586A5;
  border-radius: 4px;
}

